:root {
  --light-wg: 100;
  --sm-wg: 300;
  --md-wg: 400;
  --lg-wg: 500;
  --f-size-sm: 1rem;
  --f-size-md: 2rem;
  --f-size-lg: 2.5rem;
}
body {
  font-family: 'IBM Plex Mono', monospace;
  /* font-family: 'Roboto', sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333;
}
/* Typography */
a {
  cursor: pointer;
  text-decoration: none;
}
h1{
  font-weight: var(--lg-wg);
  font-size: var(--f-size-lg);
}

.container {
  margin: 0 auto;
  width: 60%;
  background-color: white;
  /* padding: 10em; */
  /* margin: 2em; */
  
  /* max-width: 500px; */
  /* height: 100vh; */
}

main {
  max-width: 500px;
  padding: 3em;
  margin: 2em;
}