:root {
  --light-wg: 100;
  --sm-wg: 300;
  --md-wg: 400;
  --lg-wg: 500;
  --f-size-sm: 1rem;
  --f-size-md: 2rem;
  --f-size-lg: 2.5rem;
}


body {
  font-family: 'IBM Plex Mono', 'Roboto', sans-serif, monospace;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333;
}
/* Typography */
a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  text-decoration: none;
}
h1{
  font-weight: var(--lg-wg);
  font-size: var(--f-size-lg);
}

h2 {
  color: #2e2e2e;
  font-weight: var(--lg-wg);
  font-size: var(--f-size-lg);
}

.container {
  margin: 0 auto;
  width: 60%;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
}

main {
  max-width: 600px;
  padding: 3em;
  margin: 2em;
  width: 80%;
}

.per-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.email, 
.location,
.portfolio,
.linkedin,
.github {
 margin: 0.2em;
}

.download-btn {
  width: 25%;
  padding: 0.5em;
  color: #333;
  text-align: center;
  border: none;
  border-radius: 0.5em;
  background: #333;
  color: #f4f4f4;
  font-weight: var(--f-size-lg);
  font-size: var(--f-size-sm);
}
.download-btn:hover,
.download-btn:focus
 {
  color: #333;
  background: #f4f4f4;
  border: 1px solid #333;
}

@media screen and (max-width: 480px) {
  
  h1{
    font-size: var(--f-size-md);
    font-weight: var(--md-wg);
  }

  h2 {
    font-size: var(--f-size-sm);
    font-weight: var(--light-wg);
  }

  .container {
    width: 80%;
  }

  main {
    max-width: 400px;
    padding: 3em;
    margin: 0.3em;
    width: 80%;
  }

  .per-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    line-height: 1.3em;
  }
  .email, 
  .location,
  .portfolio,
  .linkedin,
  .github {
   margin: 0.2em;
  }

  .download {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
  }
  .download-btn {
    width: 60%;
    padding: 0.2em;
    font-weight: var(--sm-wg);
    font-size: var(--f-size-sm);
  }
}

@media screen and (min-width: 481px) and (max-width: 785px) {
  h1{
    font-size: var(--f-size-md);
    font-weight: var(--md-wg);
  }

  h2 {
    font-size: var(--f-size-sm);
    font-weight: var(--light-wg);
  }

  .container {
   width: 100%;
  }

  main {
    max-width: 480px;
    padding: 3em;
    margin: 0.3em;
    width: 90%;
  }

  .per-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    line-height: 1.3em;
  }
  .email, 
  .location,
  .portfolio,
  .linkedin,
  .github {
   margin: 0.1em;
  }

  .download {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
  }
  .download-btn {
    width: 30%;
    padding: 0.3em;
    font-weight: var(--sm-wg);
    font-size: var(--f-size-sm);
  }
}